<style>
    body {
        background-color: rgba(0, 0, 0, 0.7)
    }

    .carddetail {
        display: flex;
        position: absolute;
        bottom: 350px;
        left: 600px;
        top: 150px;
        height: 45%;
        width: 100%;
    }
</style>
<% layout('layouts/boilerplate')%>
    <div class="container fulldetails">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="card shadow   carddetail " style="width: 35rem; height: 40rem">
                    <div class="card-body">
                        <h2 class="card-title d-flex justify-content-center ">Full Detail</h2>
                        <div class="d-flex flex-column justify-content-evenly" style="height: 30rem">
                            <p>
                                <%= `ID: ${detail.id}` %>
                            </p>
                            <p>
                                <%= `Username: ${detail.username}` %>
                            </p>
                            <p>
                                <%= `Fullname: ${detail.fullname}` %>
                            </p>
                            <p>
                                <%= `Contact Number: ${detail.contactNumber}` %>
                            </p>
                            <p>
                                <%= `Type: ${detail.type}` %>
                            </p>
                            <p>
                                <%= `Department: ${detail.department}` %>
                            </p>
                            <p>
                                <%= `Role: ${detail.role}` %>
                            </p>
                            <p>
                                <%= `Date of Birth: ${detail.dob}` %>
                            </p>
                            <p>
                                <%= `Gender: ${detail.gender}` %>
                            </p>
                            <p>
                                <%= `Email: ${detail.email}` %>
                            </p>
                        </div>
                        <div class='d-flex justify-content-between'>
                            <a href="/home" class="btn btn-danger">Back to home</a>
                            <a href="/edit/<%= detail._id %>" class="btn btn-primary"> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>